<div class="resume">
  <div class="personalInfo">
    <h1>Gavin Crubaugh</h1>
    <address>(225) 348-4885<br />Gavincru2001&#64;gmail.com</address>
  </div>

  <div class="summary">
    <h2>Summary</h2>
    <p>
      Results-driven IT Support Specialist with 3+ years of advanced technical
      support experience, proven leadership in optimizing service operations,
      and current pursuit of a Bachelor’s in Software Engineering to expand
      expertise in building impactful IT solutions.
    </p>
  </div>
  <div class="education">
    <h2>Education</h2>
    <p>
      <strong>Bachelor of Science in Software Engineering</strong><br />
      Western Governors University, Online<br />
      <span class="educationDates">Expected Graduation: December 2027</span>
    </p>
  </div>
  <div class="experience">
    <h2>Experience</h2>
    <p>
      Performance Contractors, IT Tech Lvl 2
      <span class="employmentDates">08/23 - Present</span>
    </p>
    <ul>
      <li>
        Optimize IT service delivery by streamlining FreshWorks workflows,
        building custom request forms, and resolving platform issues through
        no-code automation, significantly improving operational efficiency.
      </li>
      <li>
        Lead and mentor Tier 1 support staff, conducting performance coaching
        and evaluations that drive SLA adherence and service quality
        improvements.
      </li>
      <li>
        Enhance system reliability and security by administering ExacqVision
        camera systems, managing network health via PRTG monitoring, and
        overseeing access control configurations.
      </li>
      <li>
        Improved SLA performance by reducing average first-response time from
        26.76 minutes to 12.27 minutes and cutting resolution time from 1.40
        hours to 0.90 hours within a single quarter.
      </li>
    </ul>
  </div>
</div>
